<!DOCTYPE html>

<html lang="en">

    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Registration</title>
        <style>
            table, th, td {
                border: 1px solid;
                border-collapse: collapse;
            }
        </style>
    </head>

    <body>
        <div style="display: flex; justify-content: space-around">
        <a href='/'>Domů</a>
        <a href='/registrants'>Registrants</a>
        </div>
        {% block body %}{% endblock %}
    </body>

</html>